<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th>
          <th>Título</th>
          <th class="text-center">Precio</th>
          <th class="text-center">Inventario</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->

        @for (product of products(); track product.id) {

          <tr>
            <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th>
            <td>
              <div class="flex items-center gap-3">
                <div class="avatar">
                  <div class="mask mask-squircle h-12 w-12">
                    <img
                      [src]="product.images | productImage"
                      [alt]="product.title" />
                  </div>
                </div>
                <div class="flex-col">
                  <a [routerLink]="['/admin/products', product.id]" class="font-bold hover:text-accent transition-colors duration-3000 cursor-pointer">{{product.title}}</a>
                  <br>
                  @for (size of product.sizes; track $index) {

                    <div class="text-sm font-bold opacity-50 badge badge-dash badge-secondary m-1">{{size}}</div>
                  }
                </div>
              </div>
            </td>
            <td class="text-center">
              {{product.price | currency}}
             
            </td>
            <td class="text-center">
              @if(product.stock <= 10){
                <span class="badge badge-error">{{product.stock}}</span>
              }
              <!--  -->
              @else if (product.stock <=20) {
                <span class="badge badge-warning">{{product.stock}}</span>
              }
              <!--  -->
              @else {
                <span class="badge badge-success">{{product.stock}}</span>
              }
            </td>
            <th>
              <a [routerLink]="['/admin/products', product.id]" class="btn btn-ghost text-accent btn-xs">Detalle</a>
            </th>
          </tr>
        }
     
    </table>
  </div>